.statusPanel {
    display: flex;
    justify-content: center;
    border:2px solid rgb(64,199,129);
    width: 350px;
    height: 40px;
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 700;
    font-size: 30px;
    color: brown;
} 
